<div class="jumbotron text-center">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Log everything I need to know and I can check back later!</p>
	<a href="/things/add" class="btn btn-dark btn jg">Add new thing</a>
</div>